.additional-goods {
  padding-top: 8px;
  padding-bottom: 35px;
}

.additional-goods__wrapper {
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .additional-goods {
    padding-top: 40px;
    padding-bottom: 75px;
  }

  .additional-goods__title {
    margin-top: 25px;
    margin-left: 40px;
  }
}

@media (min-width: @desktop-width) {
  .additional-goods {
    padding-top: 50px;
    padding-bottom: 75px;
  }

  .additional-goods__wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
}
