.advantages__list {
  .reset-list();
  display: flex;
  flex-direction: column;
}

.advantages__title {
  margin-top: 20px;
}

.advantages__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
}

.advantages__description {
  padding-left: 80px;
  margin: 0;
}

.advantages__description br {
  display: none;
}

.advantages__image {
  position: absolute;
  top: -2px;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: @green;
}

.advantages__image--leaf {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/advantage-leaf@1x.png");

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
  }
}

.advantages__image--powder {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/advantage-powder@1x.png");

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
  }
}

.advantages__image--dining {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/advantage-dining@1x.png");

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
  }
}

.advantages__image--clock {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/advantage-clock@1x.png");

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
  }
}

.advantages__image--leaf,
.advantages__image--powder,
.advantages__image--dining,
.advantages__image--clock {
  background-size: 80%;
}

@media (min-width: @tablet-width) {
  .advantages__title {
    margin-top: 15px;
  }

  .advantages-wrapper {
    position: relative;
    padding-top: 30px;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: li;

    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      border-bottom: 1px solid @bordered-grey;
      left: 0;
      bottom: 5px;
    }
  }

  .advantages__image {
    width: 80px;
    height: 80px;
    top: 25px;
  }

  .advantages__item {
    width: 324px;
    min-height: 232px;
    margin-bottom: 85px;

    &::before {
      content: counter(li);
      counter-increment: li;
      color: @light-grey;
      font-size: 281px;
      line-height: 281px;
      text-transform: none;
      position: absolute;
      left: 115px;
      top: -15px;
    }
  }

  .advantages__description {
    max-width: 250px;
    padding: 0;
    position: absolute;
    bottom: 25px;
    z-index: 5;
  }

  .advantages__description br {
    display: block;
  }

  .advantages__image--leaf,
  .advantages__image--powder,
  .advantages__image--dining,
  .advantages__image--clock {
    background-size: 65%;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-top: 30px;
  }

  .advantages__list {
    justify-content: flex-start;

    &::after {
      display: none;
    }
  }

  .advantages__item {
    width: 245px;
    min-height: 250px;
    margin-right: 80px;
    margin-bottom: 40px;
  }

  .advantages__item:nth-child(4n+4) {
    margin-right: 0;
  }

  .advantages__image {
    top: 20px;
  }

  .advantages__description {
    bottom: 48px;
  }
}
