.advantages__list {
  .reset-list();
  display: flex;
  flex-direction: column;
}

.advantages__item {
  min-height: 60px;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 325px;
    min-height: 230px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__item {
    width: 245px;
    min-height: 225px;
  }
}
