.button {
  display: block;
  .set-padding(14px; 74px; 11px; 11px;);
  .text-options(14px; @white; 18px; uppercase;);
  .reset-decoration;
}

.button--green {
  background-color: @green;
}

.button--grey {
  background-color: #f2f2f2;
  color: @grey;
}
