.button {
  display: block;
  .set-padding(11px; 0; 9px; 0;);
  .text-options(14px; @white; 18px; uppercase; 400;);
  .reset-decoration();
  text-align: center;
  cursor: pointer;
}

.button--green {
  background-color: @green;
}

.button--grey {
  background-color: @light-grey;
  color: @dark-grey;
}

@media (min-width: @tablet-width) {
  .button {
    font-size: 16px;
    line-height: 20px;
  }

}
