.catalog__item {
  padding-bottom: 25px;
}

.catalog__link {
  margin-top: 25px;
  display: block;
  .text-options(16px; @black; 20px; uppercase; normal;);
  .reset-decoration();
}

.catalog__text {
  font-family: "Arial", "Oswald", sans-serif;
  .text-options(12px; @grey; 16px; none; normal; );
}

.catalog__wrapper {
  display: block;
  margin-top: 18px;
}

.catalog__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog__image {
  width: 140px;
}

.catalog__description {
  width: 140px;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 325px;
    min-height: 525px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
  }

  .catalog__container {
    flex-direction: column;
    align-items: stretch;
  }

  .catalog__image {
    width: auto;
  }

  .catalog__description {
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item {
    width: 245px;
    min-height: 515px;
  }
}
