.catalog__title {
  margin-top: 15px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
}

.catalog__link-title {
  display: block;
  .reset-decoration();
}

.catalog__title-item {
  width: 100px;
  .text-options(16px; @black; 20px; uppercase; normal;);
  margin-top: 10px;
  margin-bottom: 10px;
}

.catalog__table {
  font-family: "Arial", "Oswald", sans-serif;
  .text-options(12px; @dark-grey; 16px; none; normal; );
  width: 100%;
  border-collapse: collapse;
}

.catalog__field {
  padding: 0;
}

.catalog__field--value {
  text-align: right;
}

.catalog__image {
  width: 140px;
}

@media (max-width: @mobile-width-only) {
  .catalog__item {
    position: relative;
    .set-padding (10px; 20px; 25px; 20px;);
    border-top: 1px solid @bordered-grey;
    margin-left: -20px;
    margin-right: -20px;
  }

  .catalog__wrapper {
    display: flex;
    margin-bottom: 25px;
  }

  .catalog__link-image {
    width: 140px;
  }

  .catalog__info {
    width: 140px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__title {
    margin-top: 30px;
  }

  .catalog__list {
    padding-top: 35px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 325px;
    .set-padding (60px; 39px; 40px; 37px;);
    margin-top: 0;
    margin-bottom: 60px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 82px, #f2f2f2 82px, #f2f2f2);

    &:nth-last-child(-n+2) {
      margin: 0;
    }
  }

  .catalog__layout {
    display: flex;
    flex-direction: column;
  }

  .catalog__link-image {
    display: flex;
    height: 185px;
    align-items: flex-end;
    justify-content: center;
    margin-top: -40px;
  }

  .catalog__link-title {
    margin-top: 40px;
  }

  .catalog__title-item {
    margin: 0 auto;
    margin-top: 40px;
    width: 130px;
    .text-options(20px; @black; 20px; uppercase; normal;);
    text-align: center;
  }

  .catalog__table {
    .text-options(16px; @dark-grey; 16px; none; normal; );
    margin-top: 15px;
    margin-bottom: 32px;
  }

  .catalog__field {
    padding-top: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__image {
    width: 245px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    padding-top: 30px;
  }

  .catalog__item {
    width: 245px;

    &:nth-last-child(-n+4) {
      margin: 0;
    }
  }

  .catalog__title {
    margin-top: 40px;
  }
}
