.choose-program {
  background-color: #949c8f;
  padding-top: 29px;
  padding-right: 38px;
  padding-left: 38px;
}

.choose-program__title {
  .text-options(36px; @white; 36px; none; 400;);
  text-align: center;
  margin-bottom: 19px;
}

.choose-program__intro {
  .text-options(14px; @white; 14px; uppercase; normal;);
  text-align: center;
}
