.choose-program-wrapper {
  background-color: #64a83b;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.choose-program {
  padding-top: 29px;
}

.choose-program__title {
  .text-options(36px; @white; 36px; none; 400;);
  text-align: center;
  margin-bottom: 19px;
}

.choose-program__intro {
  .text-options(14px; @white; 14px; uppercase; normal;);
  text-align: center;
}
