.contacts__wrapper {
  .set-padding(12px; 0; 10px; 0;);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts--white {
  background-color: @white;
}

.contacts--grey {
  background-color: @light-grey;
}

.contacts__title,
.contacts__description {
  width: 50%;
}

.contacts__title {
  .text-options(16px; @black; 20px; uppercase; 400;);
}

.contacts__description {
  font-family: "Arial", sans-serif;
  .text-options(14px; @dark-grey; 20px; none; 400;);
}

.contacts__address {
  display: block;
  font-weight: normal;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    .set-padding(45px; 42px; 38px; 42px;);
  }

  .contacts__title,
  .contacts__description {
    width: 160px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__description {
    font-size: 16px;
    text-align: right;
  }

  .contacts__address {
    font-weight: 500;

    &:first-child {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts__sidebar {
    position: relative;
  }

  .contacts__wrapper {
    width: 570px;
    background: @white;
    position: absolute;
    .set-padding(45px; 85px; 40px; 75px;);
    top: 105px;
    left: 40px;
    z-index: 999;
  }

  .contacts__description {
    text-align: left;
  }
}
