.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyright__text {
  font-family: "Arial", "Oswald", sans-serif;
  .text-options(16px; @dark-grey; 16px; none; normal;);
}
