.example-section {
  position: relative;
  background: @light-grey;
}

.example-section__wrapper {
  padding-top: 8px;
  padding-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .example-section {
    background: none;
  }

  .example-section__wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .example-section {
    background: linear-gradient(90deg, @light-grey 75%, #eaeaea 25%);
  }

  .example-section__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
