.example {
  margin-bottom: 35px;
}

.example__intro {
  padding-right: 10px;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .example {
    margin-bottom: 0;
  }

  .example__intro {
    padding-right: 10px;
    margin-bottom: 52px;
  }

  .example__calculation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: 435px;
    padding-top: 55px;
    margin-bottom: 0;
  }

  .example__intro {
    padding-right: 0;
    margin-bottom: 72px;
  }

  .example__calculation {
    flex-direction: column;
    align-items: flex-start;
  }
}
