.logo__header {
  display: block;
  width: 191px;
  height: 39px;
}

.logo__footer {
  display: block;
  width: 128px;
  height: 24px;
}

@media (min-width: @tablet-width) {
  .logo__header {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .logo__header {
    width: 203px;
    height: 60px;
  }
}
