.logo {
  display: block;
}

.logo__logo-image {
  max-width: 100%;
}

@media (min-width: @tablet-width) {
  .logo__logo-image {
    width: 175px;
    height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .logo__logo-image {
    width: 205px;
    height: 60px;
  }
}
