.logo__header {
  display: block;
  width: 190px;
  height: 38px;
}

@media (min-width: @tablet-width) {
  .logo__header {
    width: 175px;
    height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .logo__header {
    width: 205px;
    height: 60px;
  }
}
