.main-nav {
  background-color: #ffffff;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__logo {
    width: 190px;
  }

  .main-nav__list {
    width: 445px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__logo {
    width: 325px;
  }

  .main-nav__list {
    width: 570px;
  }
}
