.nav-list {
  .reset-list();
}

.nav-list__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  .text-options(20px; @black; 20px; uppercase; 500;);
  text-align: center;
  .reset-decoration();
}

@media (min-width: @tablet-width) {
  .nav-list {
    display: flex;
  }
}
