.slider__comparison {
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .slider__comparison {
    display: flex;
    padding-top: 85px;
    width: 636px;
    margin: 0 auto;
  }

  .slider__controls {
    margin-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    width: 636px;
  }

  .slider__comparison {
    margin-top: -175px;
    padding-top: 0;
  }

  .slider__controls {
    margin-top: 32px;
  }
}
