.social__list {
  .reset-list();
  width: 160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social__link {
  width: 25px;
  height: 20px;
  background-color: @light-grey;
}

.social__box {
  fill: #666666;

  &:hover {
    fill: @green;
  }

  &:active {
    fill: @green;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 150px;
  }

  .social__link {
    width: 30px;
    height: 30px;
  }

  .social__box--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__box--instagram {
    width: 23px;
    height: 23px;
  }

  .social__box--facebook {
    width: 14px;
    height: 28px;
  }
}
