.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .container {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1220px;
    margin: 0 auto;
  }
}
